<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.grandtour.ev.evgrandtour"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".app.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ui.mainActivity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".domain.services.LocationsUpdatesService" />
        <service android:name=".domain.services.DirectionsElevationService" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="54c0051eb6d5a4d8f8be1b99d693578c69c7b14f" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>